<div id="prototypes">
	<h2>Range Finder Prototype</h2>

	<div id="controls">
		<button id="range">Start Range Finder</button>
	</div>

	<div id="output">
		<table>
			<tr>
				<td><strong>Start Coords:</strong></td>
				<td><span id="startCoords">0,0</span></td>
			</tr>
			<tr>
				<td><strong>End Coords:</strong></td>
				<td><span id="endCoords">0,0</span></td>
			</tr>
			<tr>
				<td><strong>Current:</strong></td>
				<td><span id="currentCoords">0,0</span></td>
			</tr>
			<tr>
				<td><strong>Distance:</strong></td>
				<td><span id="distance">0</span></td>
			</tr>
		</table>
	</div>

</div>